{% extends 'crud_trainer/base.html' %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold"
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Subject</td>
            <td colspan="2">
                <a href="{% url 'register_trainer' %}" class="btn btn-success rounded-pill"><i class="fa-solid fa-floppy-disk"></i></a>
            </td>
            
        </tr>
    </thead>
    <tbody>
        {% for trainer in trainer_list %}
            <tr>
                <td>{{trainer.first_name}}</td>
                <td>{{trainer.last_name}}</td>
                <td>{{trainer.subject}}</td>
                <td>
                    <a href="{% url 'trainer_update' trainer.id %}" class="btn btn-primary rounded-pill"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
                <td>
                    <form action="{% url 'trainer_delete' trainer.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger rounded-pill"><i class="fa-solid fa-xmark"></i>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock content %}